*{
    overflow: hidden;
}

body, html {
    height: 100%;
  }

.title{
    font-family: 'Rock Salt', cursive;
    padding: 3%;
    color: #850606;
    font-size: 300%;
}

.launchgame{
    background-color: black;
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.intro{
    font-family: 'Tomorrow', sans-serif;
    font-size: 200%;
    color: rgb(214, 226, 226);
}

.introbox{
    padding: 40px;
}

.speaker{
    font-family: 'Tomorrow', sans-serif;
    font-size: 150%;
    color: gold;
}

.button-start{
    font-family: 'Tomorrow', sans-serif ;
}

.bedroom{
    background-image: url("../img/fond5.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.text-bedroom{
    padding: 2% !important;
    font-family: 'Tomorrow', sans-serif;
    font-size: 200%;
    color: rgb(255, 38, 0);
}

.text-item{
    padding: 2% !important;
    font-family: 'Tomorrow', sans-serif;
    font-size: 200%;
    color: rgb(234, 238, 10);
}

.text-dead{
    font-size: 300%;
    color: red;
    font-family: 'Rock Salt', cursive;
    padding-top: 100px;
}

.dead{
    background-image: url("../img/mort.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pièce2{
    background-image: url("../img/piece2.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pièce2porte{
    background-image: url("../img/door.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pièce2couloir{
    background-image: url("../img/couloir.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.télé{
    background-image: url("../img/TV.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.scie{
    background-image: url("../img/laboratoire.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
     
}

.question1{
    background-image: url("../img/question1.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
     
}

.twodoor{
    background-image: url("../img/2door.jp2");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
     
}

.f2f{
    background-image: url("../img/facetoface.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
     
}

.mortarme{
    background-image: url("../img/mortarme.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
     
}

.classe{
    background-image: url("../img/classe.jp2");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
     
}

.noyade{
    background-image: url("../img/noyade.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
     
}

.hopital{
    background-image: url("../img/hopital.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
     
}

.campagne{
    background-image: url("../img/campagne.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
     
}

.fin{
    background-color: black;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
     
}

