body, html {
    height: 100%;
  }

.title{
    font-family: 'Rock Salt', cursive;
    padding: 3%;
    color: #850606;
    font-size: 300%;
}

.launchgame{
    background-color: black;
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.intro{
    font-family: 'Tomorrow', sans-serif;
    font-size: 200%;
    color: rgb(214, 226, 226);
}

.speaker{
    font-family: 'Tomorrow', sans-serif;
    font-size: 150%;
    color: gold;
}

.button-start{
    font-family: 'Tomorrow', sans-serif ;
}

.bedroom{
    background-image: url("../img/fond4.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.text-bedroom{
    padding: 2% !important;
    font-family: 'Tomorrow', sans-serif;
    font-size: 200%;
    color: rgb(255, 38, 0);
}

.text-item{
    padding: 2% !important;
    font-family: 'Tomorrow', sans-serif;
    font-size: 200%;
    color: rgb(234, 238, 10);
}

.text-dead{
    font-size: 300%;
    color: red;
    font-family: 'Rock Salt', cursive;
    padding-top: 100px;
}

.dead{
    background-image: url("../img/mort.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}